<center>
<body class="background">
<h1 style= color:lightgreen> <%=p1_name%> <class= color:lightgreen> Please Pick A Word For <%=p2_name%><class= color:lightgreen> To Play HangMan <h1>
<%=p2_name%> <color:lightgreen> You will be guessing 
<form method="post" action="/secretword">
<input type = "password" name = "word" name = "letter" onkeyup= "this.value=this.value.replace(/[^a-zA-Z]/,'')"autofocus>

<input type= "submit">
<input type= "hidden" name="player1" value='<%=p1_name%>'>
<input type= "hidden" name="player2" value='<%=p2_name%>'>



</form>